<script src="{{ '/assets/js/lib/jquery-3.1.1.min.js' | relative_url }}"></script>
{% if page.include-highlightjs %}
	<script src="{{ '/assets/js/lib/highlight-10.0.3.min.js' | relative_url }}"></script>
{% endif %}

<script>
	$(document).ready(function() {
		$(".rg-page-header-menu-toggler").click(function(e) {
			$(".rg-page-header-navigation").toggleClass("active");
		});

		$("#year").html(new Date().getFullYear());
		
		{% if page.include-highlightjs %}
			document.querySelectorAll('pre code').forEach((block) => {
				hljs.highlightBlock(block);
			});
		{% endif %}
	});
</script>

{% for script in layout.body-footer-scripts %}
    <script src="{{ script | relative_url }}"></script>
{% endfor %}