{% include helpers/get-page-url.html %}
<link rel="canonical" href="{{ __return }}">

{% assign _title = site.data.seo.title %}
{% if page.title %}
	{% assign _title = page.title | prepend: ' - ' | prepend: _title %}
{% endif %}
<title>{{ _title }}</title>

{% assign _keywords = page.tags | default: site.data.seo.keywords %}
{% if _keywords %}
	<meta name="keywords" content="{{ _keywords | join: ', ' }}" />
{% endif %}

{% assign _description = site.data.seo.description %}
{% if page.summary %}
	{% assign _description = page.summary %}
{% elsif page.excerpt %}
	{% assign _description = page.excerpt | strip_html %}
{% endif %}
{% if _description %}
	<meta name="description" content="{{ _description }}" />
{% endif %}

{% assign _author = page.author | default: site.data.seo.author %}
{% if _author %}
	<meta name="author" content="{{ _author }}" />
{% endif %}