<header class="rg-page-header">
	<div class="rg-page-header-wrapper">
		<div class="rg-page-header-title">
			<h1 class="rg-heading rg-heading-leading-vertical-bar">{{ site.data.page-header.title }}</h1>
			
			<button class="rg-page-header-menu-toggler" type="button" aria-label="Toggle navigation">
				<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
			</button>
		</div>
		
		<nav class="rg-page-header-navigation">
			<ul class="rg-unordered-list-no-bullets">
				{% for item in site.data.page-header.menu %}
					{% assign __active = false %}
					{% if item.url == '/' and page.url == item.url %}
						{% assign __active = true %}
					{% elsif item.url != '/' and page.url contains item.url %}
						{% assign __active = true %}
					{% endif %}
					<li class="{% if __active == true %}active{% endif %}">
						<a href="{{ item.url | relative_url }}">{{ item.title }}</a>
					</li>
				{% endfor %}
				{% if site.linkedin or site.github %}
					<li class="rg-page-header-navigation-item-separator">
						|
					</li>
					{% if site.linkedin %}
						<li>
							<a href="{{ site.linkedin.url }}" target="_blank">
								<i class="fab fa-linkedin fa-2x"></i>
							</a>
						</li>
					{% endif %}
					{% if site.github %}
						<li>
							<a href="{{ site.github.url }}" target="_blank">
								<i class="fab fa-github-square fa-2x"></i>
							</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
		</nav>
	</div>
</header>