{% if paginator.total_pages > 1 %}
	<nav class="pf-paginator">
		{% if paginator.previous_page %}
			<a class="pf-paginator-button-prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="pf-button-left-icon fas fa-long-arrow-alt-left"></i>Previous</a>
		{% endif %}
		
		{% if paginator.page_trail %}
			{% for trail in paginator.page_trail %}
				<a class="pf-paginator-button {% if page.url == trail.path %}pf-paginator-button-selected{% endif %}" href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
			{% endfor %}
		{% endif %}
		
		{% if paginator.next_page %}
			<a class="pf-paginator-button-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next<i class="pf-button-right-icon fas fa-long-arrow-alt-right"></i></a>
		{% endif %}
	</nav>
{% endif %}