.pf-horizontal-align-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.pf-heading {
	letter-spacing: 0.15rem;
	color: $pf-theme-color-primary;
	text-transform: uppercase;
}

.pf-heading-leading-vertical-bar {
	@extend .pf-heading;
	position: relative;
	padding-left: 1rem;
	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		width: 5px;
		height: 100%;
		background: $pf-theme-color-primary;
		left: 0;
		top: 0;
   }
}

.pf-list-item-preview {
	margin-bottom: 1rem;
	
	// This is needed because the excerpt_separator includes the paragraph tag
	p {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.pf-link-arrow {
		font-size: $pf-theme-font-size-secondary;
	}
}

.pf-list-item-preview-published {
	margin-bottom: .5rem;
	color: $pf-theme-text-color-light;
	font-size: $pf-theme-font-size-secondary;
}

.pf-button {
	display: inline-block;
	font-weight: bold;
	padding: 0.375rem 1rem;
	height: 2.75rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	line-height: 1.5;
	border-radius: 0.25rem;
	text-decoration: none;
	user-select: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&:hover {
		text-decoration: none;
	}
}

.pf-button-left-icon {
	margin-right: 0.5rem;
}

.pf-button-right-icon {
	margin-left: 0.5rem;
}

.pf-button-primary {
	@extend .pf-button;
	background: $pf-theme-color-primary;
	color: $color-white;
	border-color: transparent;
	font-size: 1rem;
	padding-top: 0.5rem;
	&:hover {
		background: $color-white;
		border-color: $pf-theme-color-primary;
		color: $pf-theme-color-primary;
	}
}

.pf-paginator {
	display: flex;
	justify-content: center;
}

.pf-paginator-button {
	@extend .pf-button-primary;
	margin-right: .5rem;
	&:hover {
		.fas {
			color: $pf-theme-color-primary;
		}
	}
}

.pf-paginator-button-selected {
	text-decoration: underline !important;
}

.pf-paginator-button-prev {
	@extend .pf-paginator-button;
	padding-right: 1rem;
}

.pf-paginator-button-next {
	@extend .pf-paginator-button;
	padding-left: 1rem;
}

.pf-quote {
	padding: 1.5rem;
	padding-left: 3rem;
	border: 1px solid rgba(0, 0, 0, 0.025);
	background: $pf-theme-background-color-secondary;
	height: 100%;
	position: relative;
	&:before {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 40px 40px 0 0;
		border-color: $pf-theme-color-primary transparent transparent transparent;
	}
	
	.fa-quote-left {
		position: absolute;
		left: 0.35rem;
		top: 0.3rem;
		color: $color-white;
		font-size: 0.75rem;
	}
	
	.svg-inline--fa {
		display: inline-block;
		height: 1em;
		vertical-align: -0.125em;
	}
	
	footer {
		display: block;
		margin-top: 0.5rem;
		font-size: 80%;
		color: #6c757d;
		&:before {
			content: "\2014\00A0";
		}
	}
}

.pf-footnotes {
	margin: 1em 0 0;
	padding: 0 0 0.5em;
	border-top: 1px dotted #bbb;
}

.pf-image-responsive {
	width: 100%;
	height: auto;
}

.pf-link-arrow {
	&:after {
		content: "\2192";
	}
}