---
layout: page
---

<section class="rg-page-content-main">
	<section class="rg-article">
		<header class="rg-article-header">
			<h2 class="rg-heading rg-heading-leading-vertical-bar">{{ page.title | escape }}</h2>
			<div class="rg-article-header-meta">
				Published:&nbsp;{{ page.date | date: "%b %-d, %Y" }}
				<br>
				Category:&nbsp;<a href="{{ page.collection | prepend: '/' | relative_url }}">{{ page.collection | capitalize }}</a>
				{% if page.tags %}
					<br>
					<span>Tags:&nbsp;
					{% for tag in page.tags %}
						<a href="{{ tag | prepend: '/tag/' | relative_url }}">{{ tag }}</a>&nbsp;
					{% endfor %}
					</span>
				{% endif %}
				
				<hr>
			</div>
		</header>
		<div class="rg-article-body">
			{{ content }}
		</div>
	</section>
</section>